.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: whitesmoke;
    /* border-color: #00008B; */
}
.paragraph{
    margin-top: 35px;
    color: white;
    font-size: 15px;
}
#heading1{
    font-size: 30px;
    margin-top: 30px;
    color: white;
}
#outof{
    box-shadow: 2px 2px 2px  rgb(68,67,67); 
    border-radius: 30px,30px,30px;
    opacity: #339af0;

}
.outof{
    font-size: 25px;
}
.result{
    background-color: hsl(228, 72%, 44%); 
    font-size: 11px; 
    text-align: center;
    width: 40%;
    height: 300px;
    border-radius:0px 0px 50px 50px;
    margin-left: 30%;
    margin-top: 10px;
}
#reaction{
    background-color:#ffe3e3;
    border-radius: 5px ;
}
#memory{
    background-color:#fff3bf;
    border-radius: 5px ;
}
#verbal{
    background-color:#d0ebff;
    border-radius: 5px ;
    margin-left: 2px;
}
#visual{
    background-color: whitesmoke;
    border-radius: 5px ;
}
.summarise{
    padding: 28px;
}
span{
    margin-left: 209px;
}
.span{
    margin-left: 220px;
}

.sumary{
    margin-left: 29.3%; 
    background-color: rgb(226, 218, 218); 
    margin-top: -40%;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(240, 236, 236);
    padding: 50px 0;
    margin-top: -8px;
    position: relative;
    width: 350px;

 }
#continue{
   background-color: #00008B; 
   padding: 2%;
   width: 80%;
   border-radius: 20px;
   color: white;
   font-size: 20px;
   margin-left: 30px;
}
.footer{
    margin-left: 100px;
}
.border{
    background-color:whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(68,67,67); 
    flex-direction: space-around;
    
 } 
 .border{
    border: solid 1px;
    margin: 2px 490px;

} 


